<div class="banner">
  <div class="container">
    <h1>Save any kind of movies</h1>
  </div>
</div>

<div class= "my-5">
  <h2>My lists</h2>
  <ul>
    <div class= "row my-0">
      <% @lists.each do |list| %>
        <div class= "col-4">
          <li class = "card-list">
            <%# style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.cover.key WW')" %>
            <%= link_to list.name, list %>
          </li>
        </div>
      <% end %>
    </div>
  </ul>
</div>
